a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0 !important;
}

hr {
  position: relative;
}

button a {
  color: white;
  text-decoration: none;
}
button a:hover {
  color: white;
  text-decoration: none;
}
button a:active {
  color: white;
  text-decoration: none;
}
button a:focus {
  color: white;
  text-decoration: none;
}

.centralize {
  margin: 0 auto;
}

.background-white {
  background-color: white;
}

.custon-hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.justfy-center {
  justify-content: flex-start;
}

.color-test {
  background-color: red;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.flex-baseline {
  align-items: baseline !important;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-mtop {
  margin-top: 0 !important;
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-side-margin {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #f04e29 !important;
  margin: 0 !important;
  padding: 0px 19px !important;
  background: white !important;
  cursor: pointer !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  font-size: 3em !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c1c1c1;
}

.will-hide {
  display: block;
}

.will-appear {
  display: block;
  opacity: 0;
}

.custon-fade {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
}

.will-disappear {
  display: none;
}

.will-show {
  display: none;
}

.caret {
  color: #f04e29;
}

.full-height {
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.alert-success {
  color: #4c796b !important;
  background-color: #bbe2d6 !important;
  border-color: #5ab196 !important;
}

.alert {
  padding: 15px !important;
  margin-bottom: 20px !important;
  border-radius: inherit !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #3cb878 !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #3cb878 !important;
}

.tooltip-inner {
  background-color: #3cb878 !important;
}

@media only screen and (max-width: 450px) {
  .full-width-mobile {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .flex-column {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .take-padding-on-moblile {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .take-margin-on-moblile {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .will-hide {
    display: none;
  }
}

@media (max-width: 768px) {
  .loading-custon {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .center-text-mobile {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .flex-justfy-center {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .flex-colum {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .full-width {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .main-contaner-first-header {
    display: none;
  }
}

.resize-icon {
  font-size: 1.4em;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.default-box {
  width: 10em;
  height: 2em;
  margin-left: 0.5em;
}

.header-detail {
  position: relative;
  height: 0.2em;
  background-color: #f04e29;
}

.first-contact-container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-contacts {
  display: flex;
  align-items: center;
}

.contacts-number-container {
  display: flex;
  position: relative;
}

.whatsapp {
  border: 1px solid #3db878;
  color: #3db878;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .whatsapp {
    font-size: 1.3em;
  }
}

.whatsapp:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #3db878;
  color: white;
  cursor: pointer;
}

.newsletter {
  border: 1px solid #254658;
  color: white;
  background-color: #254658;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-ok {
  margin-left: 14px;
  border: 1px solid #254658;
  border-radius: 0;
  height: 41px;
  background-color: #254658;
}
.newsletter-ok:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  color: #254658;
  cursor: pointer;
}
.newsletter-ok:active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  color: #254658;
  cursor: pointer;
}
.newsletter-ok:focus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  color: #254658;
  cursor: pointer;
}

.newsletter:hover,
.newsletter:active,
.newsletter:focus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  color: #254658;
  cursor: pointer;
}

.header-detail-end {
  position: relative;
  height: 0.1em;
  background-color: #c1c1c1;
}

.contact-info-base {
  border: 1px solid gray;
  width: 2em;
  height: 2em;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-left: 0.3em;
}

.contact-info-base:hover {
  border: 1px solid #f04e29;
}

.contact-info-base:hover a span {
  color: #f04e29 !important;
}

.drop-down-news-container {
  display: none;
  position: absolute;
  top: 2em;
  right: 0;
  width: 645px;
  height: 100px;
  z-index: 1000;
  background-color: white;
}

.news-letter-container {
  margin: 2em;
  padding: 0;
}

.newsletter-input {
  margin-right: 7em;
}

.loading {
  margin-left: 1em;
  width: 3em;
  height: 2.5em;
  background-color: #254658;
}

.base-color {
  color: #546d7a;
}

.is-visible {
  display: none !important;
}
@media (max-width: 768px) {
  .is-visible {
    display: block !important;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-default {
  border: none;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #2e5b73;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    margin-top: 45px;
    border: none;
  }
}

@media (max-width: 768px) {
  .navbar-default {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
}

@media (max-width: 768px) {
  .nav-itens-margin {
    width: 100%;
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-toggle {
    border-color: #f04e29;
    background-color: #f04e29;
    color: white;
    position: relative;
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .nav-item-submenu:focus,
  .nav-item-submenu:hover {
    background-color: #2e5b73;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}

@media (max-width: 768px) {
  .nav-submenu-responsive {
    background-color: #142a36 !important;
    text-align: center;
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
  }
}

.social-contacts span a {
  color: #546d7a;
  text-decoration: none;
}

.nav-size {
  font-weight: bold;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-logo-size {
  width: 8em;
  height: auto;
}

.aula-experimental {
  background-color: #f04e29;
}

.aula-experimental a {
  color: white !important;
  padding: 0 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.nav-itens-margin {
  margin-left: 0.3em;
}

.nav-itens-margin-dropdown {
  margin-left: 0;
  text-align: center;
  padding: 0.4em;
}

.nav-itens-margin-dropdown:hover,
.nav-itens-margin-dropdown:active {
  background-color: #f04e29;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  padding: 0;
}

.responsive-nav {
  left: 0;
  border-radius: 0;
  right: 0;
  height: 3em;
  margin: 0;
  width: 100%;
  padding: 0;
  position: absolute;
}

.navbar-default .navbar-toggle {
  border-color: #f04e29;
  background-color: #f04e29;
  color: white;
  display: flex;
  align-items: flex-start;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #f04e29;
  color: white;
}

.responsive-ul {
  margin-top: 2.5%;
}
@media (max-width: 768px) {
  .responsive-ul {
    width: 100%;
    text-align: center;
    background-color: #1b3848;
    font-size: 15px;
    margin-top: 0 !important;
  }
}

.nav-submenu-responsive {
  background-color: #142a36 !important;
  font-size: 0.9em;
}

.dropdown-menu > li > a {
  color: white !important;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: transparent !important;
}

.single-icon {
  width: 2.5em;
  padding-left: 1em;
}

.align-last-item {
  display: flex !important;
  align-items: center;
  height: 2.4em;
  justify-content: center;
}
@media (max-width: 1024px) {
  .align-last-item {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .align-last-item {
    display: flex !important;
  }
}

.align-last-item:hover,
.align-last-item:active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #cd4323;
}

.icon-menu2 {
  font-weight: bold;
  font-size: 20px;
}

.separator-base, .separator-container__first-color, .separator-container__second-color, .separator-container__third-color {
  height: 0.2em;
  width: 100%;
}

.separator-container {
  display: flex;
  justify-content: space-between;
}
.separator-container__first-color {
  background-color: #f07929;
}
.separator-container__second-color {
  background-color: #f0c429;
}
.separator-container__third-color {
  background-color: #e4f029;
}
@media (max-width: 768px) {
  .separator-container {
    display: none;
  }
}

.banner-container, .banner-container-unity {
  height: 36.875em;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .banner-container, .banner-container-unity {
    height: 7em !important;
  }
}
.banner-container__banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.found-unity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.found-unity__first-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 768px) {
  .found-unity__first-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
  }
}
.found-unity__first-container__main-title {
  color: #f04e29;
  font-size: 1.5em;
}
.found-unity__first-container__subtitle {
  color: white;
}
@media (max-width: 768px) {
  .found-unity__first-container__subtitle {
    color: #798286 !important;
  }
}
@media (max-width: 768px) {
  .found-unity {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    align-items: center;
  }
}

.found-unity-selectors-default, .found-unity-selectors-container__first-selector, .found-unity-selectors-container__second-selector {
  margin-right: 1em;
  width: 13em;
  background-color: #1e3643;
  border: none;
  color: #4f626d;
}

.found-unity-selectors-default, .found-unity-selectors-container__first-selector, .found-unity-selectors-container__second-selector, .found-unity-selectors-container__first-selector, .found-unity-selectors-container__second-selector {
  border-radius: 0px !important;
}

.found-unity-selectors-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  height: 3em;
  justify-content: center;
}
@media (max-width: 768px) {
  .found-unity-selectors-container {
    display: block;
    flex-wrap: wrap;
    margin-left: auto;
    height: 3em;
    width: 100%;
    justify-content: center;
    align-self: flex-start;
    margin: 0;
  }
}
.found-unity-selectors-container__first-selector {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .found-unity-selectors-container__first-selector {
    width: 100% !important;
    height: 3em !important;
    margin-bottom: 1em !important;
    background-color: white !important;
    border: 1px solid #f04e29 !important;
    color: #4f626d !important;
    margin-right: 0 !important;
    border-radius: 0px !important;
  }
}
.found-unity-selectors-container__second-selector {
  width: 15em;
}
@media (max-width: 768px) {
  .found-unity-selectors-container__second-selector {
    width: 100% !important;
    height: 3em !important;
    margin-bottom: 1em !important;
    background-color: white !important;
    border: 1px solid #f04e29 !important;
    color: #4f626d !important;
    margin-right: 0 !important;
    border-radius: 0px !important;
  }
}
.found-unity-selectors-container__my-btn, .found-unity-selectors-container__my-btn:focus, .found-unity-selectors-container__my-btn:active {
  width: 12em;
  background-color: #f04e29;
  border-radius: inherit;
  border: 1px solid #ac381d;
  padding: 10px 12px;
}
@media (max-width: 768px) {
  .found-unity-selectors-container__my-btn, .found-unity-selectors-container__my-btn:focus, .found-unity-selectors-container__my-btn:active {
    width: 100% !important;
    background-color: #f04e29 !important;
    border-radius: inherit !important;
    border-color: transparent !important;
    height: 3em;
    font-size: 1.5em;
    margin-top: 17px;
  }
}
.found-unity-selectors-container__my-btn:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #cd4323 !important;
  border-radius: inherit !important;
  border-color: transparent !important;
}

.found-unity-selectors-container__my-btn a, .found-unity-selectors-container__my-btn:focus a, .found-unity-selectors-container__my-btn:active a {
  color: white;
  text-decoration: none;
}

.ou {
  color: white;
  margin-right: 1em;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: #f04e29;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f04e29;
}

@media (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav [class*=owl-] {
    padding: 0px 9px !important;
  }
}

@media (max-width: 768px) {
  .owl-nav {
    top: 29% !important;
  }
}

.carroussel-main-container {
  margin-bottom: 40px;
}
.carroussel-main-container__title {
  color: #f04e29;
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 2em;
}

.item-custon {
  position: relative;
  height: 209px;
  width: 264px;
  margin: 10px;
}
.item-custon:before {
  content: '';
  background: rgba(37, 70, 88, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.item-custon:hover:before {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: '';
  background: rgba(37, 70, 88, 0.5);
  box-shadow: 3px 3px #888;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 768px) and (min-width: 400px) {
  .item-custon {
    flex: 1 0 31%;
  }
}

.item__carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #142a36;
  opacity: 0.8;
  object-fit: cover;
}
.item__carousel-title-container {
  position: absolute;
  top: 10%;
  left: 6%;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.item__carousel-title-container__main-title {
  color: white;
  font-weight: bold;
}
.item__carousel-title-sub-title {
  color: white;
}
.item__carousel-icons-container {
  position: absolute;
  color: white;
  bottom: 7%;
  left: 6%;
  display: flex;
  font-size: 2em;
  z-index: 2;
}
.item__carousel-icons-container__icon {
  padding-left: 0.5em;
  border-left: 1px solid;
  padding-right: 0.5em;
}
.item__carousel-icons-container__icon-first {
  margin-left: 0em;
  margin-right: 0.5em;
}

.about-container {
  display: flex;
  margin-top: 2em;
}
@media (max-width: 768px) {
  .about-container {
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .about-container__img {
    width: 100%;
  }
}
.about-container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 49%;
}
@media (max-width: 768px) {
  .about-container__text {
    width: 100% !important;
    padding-bottom: 3em;
  }
}
.about-container__text__title {
  color: #254658;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.about-container__text__text-body {
  text-align: justify;
  margin-right: 4em;
  margin-left: 4em;
  color: #666;
}
@media (max-width: 768px) {
  .about-container__text__text-body {
    text-align: justify;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
  }
}
.about-container__text__btn-custon, .green-btn {
  background-color: #254658;
  border-color: #254658;
  border-radius: inherit;
  width: 12em;
  height: 3em;
}
.about-container__text__btn-custon:hover, .green-btn:hover {
  background-color: #13242d;
  border-color: #13242d;
  border-radius: inherit;
  width: 12em;
  height: 3em;
}
.about-container__text__btn-custon:active, .green-btn:active {
  background-color: #13242d !important;
  border-color: #13242d !important;
  border-radius: inherit;
  width: 12em;
  height: 3em;
}
.about-container__text__btn-custon:focus, .green-btn:focus {
  background-color: #13242d;
  border-color: #13242d;
  border-radius: inherit;
  width: 12em;
  height: 3em;
}

.separator {
  display: flex;
  align-items: baseline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.left {
  flex: 1 1 30%;
  height: 0.5em;
  background-color: lightgray;
}

.separator-title {
  font-size: 1.5em;
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.right {
  flex: 1 1 30%;
  height: 0.5em;
  background-color: lightgray;
}

.item-custon-depoiment {
  position: relative;
  height: 22em;
  background-color: white;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .item-custon-depoiment {
    height: 24em;
  }
}
.item-custon-depoiment__img {
  width: 30em;
}
@media (max-width: 768px) {
  .item-custon-depoiment__img {
    display: none !important;
  }
}
.item-custon-depoiment__text {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (max-width: 768px) {
  .item-custon-depoiment__text {
    align-items: center;
  }
}
.item-custon-depoiment__text__source {
  border: 1px solid;
  padding: 2px 2em;
}
@media (max-width: 768px) {
  .item-custon-depoiment__text__source {
    align-self: center;
  }
}
.item-custon-depoiment__text__quote {
  font-size: 1.3em;
  display: flex;
  align-items: baseline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .item-custon-depoiment__text__quote {
    text-align: center;
  }
}
.item-custon-depoiment__marks {
  color: #f04e29;
  font-size: 3em;
  font-family: cursive;
}
@media (max-width: 768px) {
  .item-custon-depoiment__marks {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
}
.item-custon-depoiment__text__sub-quote {
  color: #a1a1a1;
}
@media (max-width: 768px) {
  .item-custon-depoiment__text__sub-quote {
    text-align: center;
  }
}
.item-custon-depoiment__text__source-name {
  margin-top: 0.5em;
  color: #f04e29;
}
.item-custon-depoiment__img {
  width: 40em;
  height: auto;
  margin-right: 2em;
}

.numbers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .numbers-container {
    display: none !important;
  }
}
.numbers-container__info {
  text-align: center;
  color: #254658;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers-container__info__number {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 8em;
}
.numbers-container__info__number-subtitle {
  font-size: 1.8em;
  font-weight: 200;
}

.mil {
  font-size: 0.2em;
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.ask-pilates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.ask-pilates__title {
  color: #f04e29;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0.3em;
}
.ask-pilates__subtitle {
  font-size: 1.2em;
  text-align: center;
}
@media (max-width: 768px) {
  .ask-pilates {
    margin-top: 1em;
  }
}

.orange-container {
  background-color: #f04e29;
  height: 27em;
  margin-top: 2em;
}
@media (max-width: 768px) {
  .orange-container {
    height: auto;
    padding: 2em 0;
  }
}
.orange-container__icon-container {
  width: 10em;
  position: relative;
  align-items: center;
  display: flex;
  height: 6em;
  margin-right: 0.5em;
}
.orange-container__icon-container__circle {
  position: absolute;
  border-radius: 100px;
  background-color: lightgrey;
  width: 100px;
  height: 100px;
  z-index: 1;
}
@media (max-width: 768px) {
  .orange-container__icon-container__circle {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1024px) {
  .orange-container__icon-container__circle {
    width: 80px;
    height: 80px;
  }
}
.orange-container__text {
  color: white;
  font-size: 0.94em;
  margin-right: 1em;
}
@media (max-width: 768px) {
  .orange-container__text {
    font-size: 1.3em !important;
  }
}
.orange-container__text__subtitle {
  font-weight: 200;
  margin-top: 0.2em;
}
@media (max-width: 768px) {
  .orange-container__text__subtitle {
    display: none;
  }
}

.container-icons {
  margin-top: 3em;
}
@media (max-width: 768px) {
  .container-icons {
    margin-top: 0;
  }
}

span.icon-head, span.icon-plus, span.icon-heart {
  color: #254658;
  z-index: 2;
  font-size: 4em;
  margin: 0 auto;
}
@media (max-width: 768px) {
  span.icon-head, span.icon-plus, span.icon-heart {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .separator-ask:before {
    display: none !important;
  }
}

.separator-margin {
  margin-right: 1em;
  border-right: 1px solid;
  border-color: #c73b1b;
}
@media (max-width: 768px) {
  .separator-margin {
    margin-bottom: 1em;
    margin-right: 0;
    border-right: 0px solid;
    border-color: #c73b1b;
  }
}

.green-btn {
  background-color: #37cd7f;
  border: 1px solid #37cd7f;
}
.green-btn:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #268755;
  border: 1px solid #268755;
}
.green-btn:focus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #268755;
  border: 1px solid #268755;
}
.green-btn:active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #268755;
  border: 1px solid #268755;
}

.orange-detail {
  margin-bottom: 24em;
  width: 100%;
  height: 1em;
  background-color: #d3310c;
}
@media (max-width: 768px) {
  .orange-detail {
    margin-bottom: 0;
  }
}

.absolute-caroucel {
  position: absolute;
  left: 48%;
  top: 146em;
}

.take-off-details {
  box-shadow: none !important;
  margin-top: 0 !important;
}

.overlay-carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 70, 88, 0.5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .absolute-caroucel {
    display: none;
  }
}
@media (max-width: 1024px) {
  .absolute-caroucel {
    top: 150em;
  }
}

.footer-background {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 3em;
}
@media (max-width: 768px) {
  .footer-background {
    display: none;
  }
}
.footer-background__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-background__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 32, 40, 0.9);
  z-index: 1;
}

.pipe-logo {
  width: 15px;
  z-index: 9;
  position: absolute;
  right: 16%;
}

.footer-container {
  padding-top: 3em;
  font-size: 1em;
  position: relative;
  z-index: 2;
  display: flex;
}
.footer-container__info-logo__logo {
  width: 12em;
}
.footer-container__info-logo__place a {
  color: #9a9a9a;
}
.footer-container__info-logo__place p {
  margin-top: 5px;
}
.footer-container__info-logo__place a:hover {
  color: #9a9a9a;
}
.footer-container__info-logo__place__title {
  color: #d3310c !important;
  margin: 0;
}
.footer-container__info-logo__place__title2 {
  color: white !important;
  margin: 0;
  font-weight: bold;
}
.footer-container__info-logo__place__text {
  margin: 0;
}
@media (max-width: 768px) {
  .footer-container__info-logo__place__text {
    color: #9a9a9a;
  }
}
.footer-container__info-container {
  width: 18em;
}

.margin-footer-default {
  margin-bottom: 25px;
}

.mobile-footer-container {
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #102028;
  flex-direction: column;
  display: none;
}
@media (max-width: 768px) {
  .mobile-footer-container {
    display: block;
  }
}

.mobile-footer-container__options a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 5px 0;
}

.mobile-footer-container__options {
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

.mobile-footer-container__options-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-footer-container__options-end li p {
  margin: 0;
}

.mobile-footer-container__options-end {
  margin: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}

.footer-img-container {
  width: 100%;
  position: relative;
  background-color: #193646;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
}

.banner-container-unity {
  height: 21em;
  position: relative;
}
@media (max-width: 768px) {
  .banner-container-unity {
    height: 7em;
  }
}
.banner-container-unity__overlay-banner-unity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(37, 70, 88, 0.7);
}
.banner-container-unity__container, .banner-container-talk__container {
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  left: 50%;
  top: 25%;
  text-align: center;
  transform: translateX(-50%);
  flex-direction: column;
}
@media (max-width: 768px) {
  .banner-container-unity__container, .banner-container-talk__container {
    top: 10%;
  }
}
.banner-container-unity__container__title, .banner-container-talk__container__title, .banner-container-talk__container__title-franquado {
  color: white;
  font-size: 3em;
}
.banner-container-unity__container__subtitle {
  color: white;
  font-size: 1.2em;
}

.blue-detail {
  width: 100%;
  height: 1em;
  background-color: #28373e;
}

.one-unity-container {
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 3em;
  position: relative;
  padding-bottom: 20px;
}
.one-unity-container__container-title {
  z-index: 2;
  padding-top: 20px;
  position: relative;
}
.one-unity-container__container-title__main-title {
  color: #435a69;
  font-size: 3em;
}
.one-unity-container__container-title__subtitle-orange a {
  color: #f04e29;
}
.one-unity-container__container-title__subtitle {
  font-size: 1.4em;
  color: #9a9a9a;
}
.one-unity-container__content {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin-top: 3em;
  z-index: 2;
}

.owl-nav {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.one-unity-info {
  margin-top: 3em;
  position: relative;
  z-index: 9;
}
.one-unity-info__add-conteiner {
  padding-bottom: 0.6em;
  text-align: initial;
  border-bottom: 1px solid lightgray;
  margin-top: 1em;
}

.icon-map-marker-custon, .icon-phone-custon, .icon-whatsapp-custon, .icon-clock-custon {
  font-size: 1.5em;
  margin-right: 1em;
  color: #1b2a32;
}

.one-unity-info__add-conteiner__add {
  color: #afafaf;
  font-size: 1.06em;
}

.work-margin {
  margin-left: 3em;
}

.unity-back-logo {
  position: absolute;
  width: 36em;
  right: 13em;
  z-index: 1;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: 0 2px 1px #eee;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.clinica-equipe__title {
  color: #f04e29;
}

@media only screen and (max-width: 768px) {
  .one-unity-container__container-title__main-title {
    font-size: 2em;
  }

  .one-unity-container__container-title__subtitle {
    font-size: 1em;
  }
}
.talk-container {
  background-color: white;
  text-align: center;
  margin-top: 3em;
  padding: 2em;
}

.talk-title {
  font-size: 25px;
  color: #254658;
  margin-bottom: 0.5em;
}

.talk-text {
  color: #9a9a9a;
  font-size: 14px;
  margin-bottom: 5px;
}

.click-here a {
  color: #f04e29;
}
.click-here a:hover {
  color: #cd4323;
  text-decoration: underline !important;
}

.talk-section-title {
  font-size: 25px;
  color: #254658;
  margin-bottom: 14px;
}

.input-title {
  color: #254658;
}

.talk-input-group {
  margin-bottom: 17px;
}

.select-option:before {
  content: attr(data-content);
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
  bottom: 100%;
  left: 14.4%;
}

.select-option.start:before {
  left: 14.4%;
  -webkit-transition: all 0.5s ease;
}

.select-option.middle:before {
  left: 50%;
  -webkit-transition: all 0.5s ease;
}

.select-option.end:before {
  left: 83%;
  -webkit-transition: all 0.5s ease;
}

.select-option:after {
  content: attr(data-content);
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f0f0f0;
  bottom: 100%;
  left: 14.4%;
}

.select-option.start:after {
  left: 14.4%;
  -webkit-transition: all 0.5s ease;
}

.select-option.middle:after {
  left: 50%;
  -webkit-transition: all 0.5s ease;
}

.select-option.end:after {
  left: 83%;
  -webkit-transition: all 0.5s ease;
}

.talk-info-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-right: 50px;
}
.talk-info-container__icon {
  font-size: 36px;
  color: #254658;
  margin-right: 10px;
}
.talk-info-container__text__name-service {
  font-size: 20px;
  color: #254658;
}
.talk-info-container__text__number {
  color: #f04e29;
  font-weight: 500;
}
.talk-info-container__text__number a {
  cursor: pointer;
  color: #f04e29;
  font-weight: 500;
}
.talk-info-container__text__number a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.banner-container-talk__container {
  width: 72%;
}
@media (max-width: 768px) {
  .banner-container-talk__container {
    top: 10%;
  }
}

.banner-container-talk__container__title, .banner-container-talk__container__title-franquado {
  font-size: 2.5em;
}

#first-form {
  margin-top: 2em;
}

#second-form {
  margin-top: 2em;
}

#third-form {
  margin-top: 2em;
}

.loading-custon {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 768px) {
  .inverse-column-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

.banner-franqueado-container__fit {
  position: absolute;
}

.banner-container-unity__container__title-franqueado {
  color: white;
  font-size: 3em;
}
@media (max-width: 768px) {
  .banner-container-unity__container__title-franqueado {
    font-size: 2em;
  }
}

.banner-franqueado-container__fit__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.banner-franqueado-container, .banner-franqueado-container-sub {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.banner-franqueado-container__title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45px;
  color: white;
  font-size: 60px;
}
@media (max-width: 768px) {
  .banner-franqueado-container__title {
    font-size: 32px;
    padding: 15px;
  }
}

.banner-franqueado-container__text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 66px;
  font-size: 26px;
  color: white;
}
@media (max-width: 768px) {
  .banner-franqueado-container__text {
    font-size: 14px;
    padding: 15px;
    bottom: 60px;
  }
}

.banner-franqueado-container__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 114, 188, 0.6);
}

.franquia-title {
  text-align: center;
  font-size: 50px;
  color: #0072bc;
}
@media (max-width: 768px) {
  .franquia-title {
    font-size: 40px;
  }
}

.info-franqueado-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.franquia-text {
  font-size: 15px;
  text-align: justify;
  padding: 40px 100px;
  color: #102028;
}
@media (max-width: 768px) {
  .franquia-text {
    padding: 40px 14px;
  }
}

.franquia-caroseul {
  padding: 0 100px;
}
@media (max-width: 768px) {
  .franquia-caroseul {
    padding: 0;
  }
}

.btn-franqueado {
  width: 215px;
  height: 50px;
  border-radius: 0;
  color: white;
  background-color: #0072bc;
}
.btn-franqueado:hover {
  color: white;
  background-color: #025388;
}
.btn-franqueado:active {
  color: white;
  background-color: #025388;
}
.btn-franqueado:focus {
  color: white;
  background-color: #025388;
}
@media (max-width: 768px) {
  .btn-franqueado {
    width: 100%;
  }
}

.banner-franqueado-container-sub {
  height: 215px;
}

.franqueado-carrousel-img {
  height: 320px;
  object-fit: contain;
}

.padding-default {
  padding: 0 100px;
}
@media (max-width: 768px) {
  .padding-default {
    padding: 14px;
  }
}

.franqueado-icons-padding {
  padding-bottom: 50px;
}

.banner-container-talk__container__title-franquado {
  font-size: 1.8em;
}
