//---------- About ----------------

.about-container {
    display: flex;
    margin-top: 2em;
    @include bp(phone) {
        margin: 0 !important;
        padding: 0 !important;
        flex-direction: column-reverse;
    }
    &__img{
        @include bp(phone) {
            width: 100%;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 49%;
        @include bp(phone) {
            width: 100% !important;
            padding-bottom: 3em;
        }
        &__title {
        color: #254658;
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        }
        &__text-body {
            text-align: justify;
            margin-right: 4em;
            margin-left: 4em;
            color: #666;
            @include bp(phone) {
                text-align: justify;
                margin-right: 2em;
                margin-bottom: 2em;
                margin-left: 2em;
                
            }
        }
        &__btn-custon {
            background-color: $blue;
            border-color: $blue;
            border-radius: inherit;
            width: 12em;
            height: 3em;
        }
        &__btn-custon:hover {
            background-color: $blue-hover;
            border-color: $blue-hover;
            border-radius: inherit;
            width: 12em;
            height: 3em;
        }
        &__btn-custon:active {
            background-color: $blue-hover !important;
            border-color: $blue-hover !important;
            border-radius: inherit;
            width: 12em;
            height: 3em;
        }
        &__btn-custon:focus {
            background-color: $blue-hover;
            border-color: $blue-hover;
            border-radius: inherit;
            width: 12em;
            height: 3em;
        }
    }
}

//=======separator=====
.separator {
    display: flex;
    align-items: baseline;
    margin-top: 2em;
    margin-bottom: 2em;
}

.left {
    flex: 1 1 30%;
    height: 0.5em;
    background-color: lightgray;
}

.separator-title {
    font-size: 1.5em;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.right {
    flex: 1 1 30%;
    height: 0.5em;
    background-color: lightgray;
}