// ========== carousel mother fucker ==========

.absolute-caroucel{
	position: absolute;
	left: 48%;
    top: 146em;
}

.take-off-details{
	box-shadow: none !important;
	margin-top: 0 !important;
}

.overlay-carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 70, 88, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.absolute-caroucel{
    @include bp(phone) {
        display: none;
    }
    @include bp (tablet) {
        top: 150em;
    }
}