//================= carousel cell content =================

.owl-theme .owl-controls .owl-nav [class*=owl-]{
    @include bp(phone) {
        padding: 0px 9px !important;
    }
    
}

.owl-nav {
    @include bp(phone) {
        top: 29% !important;
    }
    
}

.carroussel-main-container{
    margin-bottom: 40px;
    &__title {
        color: $orange;
        margin-top: 4%;
        margin-bottom: 1%;
        font-size: 2em;
    }
}


.item-custon {
    position: relative;
    height: 209px;
    width: 264px;
    margin: 10px;
    &:before {
        content: '';
        background: rgba(37, 70, 88, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &:hover:before{
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        content: '';
        background: rgba(37, 70, 88, 0.5);
        box-shadow: 3px 3px #888;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
    }
    @include bp(small) {
        flex: 1 0 31%;
    }
    
}

.item{
    &__carousel-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #142a36;
        opacity: 0.8;
        object-fit: cover;
    }
    &__carousel-title-container {
        position: absolute;
        top: 10%;
        left: 6%;
        z-index: 2;
        width: 100%;
        height: 100%;
        &__main-title {
            color: white;
            font-weight: bold;
        }
    }
    &__carousel-title-sub-title {
        color: white;
    }
    &__carousel-icons-container {
        position: absolute;
        color: white;
        bottom: 7%;
        left: 6%;
        display: flex;
        font-size: 2em;
        z-index: 2;
        &__icon {
            padding-left: 0.5em;
            border-left: 1px solid;
            padding-right: 0.5em;
        }
        &__icon-first {
            margin-left: 0em;
            margin-right: 0.5em;
        }
    }
}