//============= depoiment ==========

.item-custon-depoiment{
	position: relative;
    height: 22em;
    background-color: white;
    display: flex;
    align-items:center;
    @include bp(tablet) {
        height: 24em;
    }

    &__img{
    	width: 30em;
        @include bp(phone) {
            display: none !important;
        }
    }
    &__text{
    	margin: 2em;
    	display: flex;
    	flex-direction: column;
    	align-items: baseline;
        @include bp(phone) {
            align-items:center;
        }
    }
    &__text__source {
	    border: 1px solid;
    	padding: 2px 2em;
        @include bp(phone) {
            align-self: center;
        }
    }
    &__text__quote{
    	font-size: 1.3em;
	    display: flex;
	    align-items: baseline;
	    margin-top: 0.5em;
    	margin-bottom: 0.5em;
        @include bp(phone) {
            text-align: center;
        }
    }
    &__marks{    	
	    color: $orange;
	    font-size: 3em;
	    font-family: cursive;
        @include bp(phone) {
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
    }
    &__text__sub-quote{
    	color: #a1a1a1;
        @include bp(phone) {
            text-align: center;
        }
    }
    &__text__source-name{
    	margin-top: 0.5em;
    	color: $orange;
    }
    &__img{
	    width: 40em;
    	height: auto;
    	margin-right: 2em;
    }
}