// default style for first header
.main-contaner-first-header {
    @include bp(phone) {
        display: none;
    }
}

.resize-icon {
    font-size: $default-font;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.default-box {
    width: 10em;
    height: 2em;
    margin-left: 0.5em;
}

.header-detail {
    position: relative;
    height: 0.2em;
    background-color: $orange;
}

.first-contact-container {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-contacts {
    display: flex;
    align-items: center;
}

.contacts-number-container {
    display: flex;
    position: relative;
}

.whatsapp {
    border: 1px solid #3db878;
    color: #3db878;
    display: flex !important;
    justify-content: center;
    align-items: center;
    @include bp(phone) {
        font-size: 1.3em;
    }
}

.whatsapp:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #3db878;
    color: white;
    cursor: pointer;
}

.newsletter {
    border: 1px solid #254658;
    color: white;
    background-color: #254658;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-ok{
    margin-left: 14px;
    border: 1px solid #254658;
    border-radius: 0;
    height: 41px;
    background-color: #254658;
    &:hover{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: white;
        color: #254658;
        cursor: pointer;
    }&:active{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: white;
        color: #254658;
        cursor: pointer;
    }&:focus{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: white;
        color: #254658;
        cursor: pointer;
    }
}

.newsletter:hover,
.newsletter:active,
.newsletter:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: white;
    color: #254658;
    cursor: pointer;
}

.header-detail-end {
    position: relative;
    height: 0.1em;
    background-color: #c1c1c1;
}

.contact-info-base {
    border: 1px solid gray;
    width: 2em;
    height: 2em;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-left: 0.3em;
}

.contact-info-base:hover {
    border: 1px solid $orange;
}

.contact-info-base:hover a span {
    color: $orange !important;
}

.drop-down-news-container {
    display: none;
    position: absolute;
    top: 2em;
    right: 0;
    width: 645px;
    height: 100px;
    z-index: 1000;
    background-color: white;
}

.news-letter-container {
    margin: 2em;
    padding: 0;
}

.newsletter-input {
    margin-right: 7em;
}

.loading {
    margin-left: 1em;
    width: 3em;
    height: 2.5em;
    background-color: #254658;
}

.base-color {
    color: $base-color-header;
}

.is-visible {
    display: none !important;
    @include bp(phone) {
        display: block !important;
    }
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
