//=======footer ========

.footer-background {
    
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 3em;
    @include bp(phone) {
        display: none;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(16,32,40,0.9);
        z-index: 1;
    }
}

.pipe-logo {
    width: 15px;
    z-index: 9;
    position: absolute;
    right: 16%;
}

.footer-container {
    padding-top: 3em;
    font-size: 1em;
    position: relative;
    z-index: 2;
    display: flex;
    &__info-logo{
        &__logo {
            width: 12em;
        }
        
        &__place a {
            color: #9a9a9a;
        }
        &__place p {
            margin-top: 5px;
        }
        &__place a:hover {
            color: #9a9a9a;

        }
        &__place{
            &__title {
                color: #d3310c !important;
                margin: 0;
            }
            &__title2 {
                color: white !important;
                margin: 0;
                font-weight: bold;
            }
            &__text {
                margin: 0;
                @include bp(phone) {
                    color: #9a9a9a;
                }
            }
        }
    }
    &__info-container {
        width: 18em;
    }
}

//====footer mobile =======

.margin-footer-default{
    margin-bottom: 25px;
}

.mobile-footer-container{
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #102028;
    flex-direction: column;
    display: none;
    @include bp(phone) {
        display: block;
    }
}

.mobile-footer-container__options a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
        margin: 5px 0;
}

.mobile-footer-container__options {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
}

.mobile-footer-container__options-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-footer-container__options-end li p {
    margin: 0;
    
}

.mobile-footer-container__options-end{
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

.footer-img-container{
    width: 100%;
    position: relative;
    background-color: #193646;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
}