.banner-franqueado-container__fit{
    position: absolute;
}

.banner-container-unity__container__title-franqueado {
    color: white;
    font-size: 3em;
    @include bp(phone) {
        font-size: 2em;
    }
}

.banner-franqueado-container__fit__img{
	width: 100%;
    height: 350px;
    object-fit: cover;
}

.banner-franqueado-container {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.banner-franqueado-container__title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45px;
    color: white;
    font-size: 60px;
    @include bp(phone) {
    	font-size: 32px;
    	padding: 15px;
    }
}

.banner-franqueado-container__text{
	position: absolute;
    width: 100%;
    text-align: center;
    bottom: 66px;
    font-size: 26px;
    color: white;
    @include bp(phone) {
    	font-size: 14px;
    	padding: 15px;
    	bottom: 60px;
    }
}

.banner-franqueado-container__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,114,188,0.6);;
}

.franquia-title {
    text-align: center;
    font-size: 50px;
    color: #0072bc;
    @include bp(phone) {
    	font-size: 40px;
    }
}

.info-franqueado-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.franquia-text {
    font-size: 15px;
    text-align: justify;
    padding: 40px 100px;
    color: #102028;
    @include bp(phone) {
    	padding: 40px 14px;
    }
}

.franquia-caroseul {
	padding: 0 100px;
	@include bp(phone) {
    	padding: 0;
    }
}

.btn-franqueado{
    width: 215px;
    height: 50px;
    border-radius: 0;
    color: white;
    background-color: #0072bc;
    &:hover{
    	color: white;
    	background-color: #025388;
    }
    &:active{
    	color: white;
    	background-color: #025388;
    }
    &:focus{
    	color: white;
    	background-color: #025388;
    }
    @include bp(phone) {
    	width: 100%;
    }
}

.banner-franqueado-container-sub {
	@extend .banner-franqueado-container;
	height: 215px;
}

.franqueado-carrousel-img {
	
    height: 320px;
    object-fit: contain;
}

.padding-default {
	padding: 0 100px;
	@include bp(phone) {
		padding: 14px;
	}
}

.franqueado-icons-padding {
	padding-bottom: 50px;

}

.banner-container-talk__container__title-franquado{
    @extend .banner-container-talk__container__title;
    font-size: 1.8em;
}












