//================ main banner ===================
.separator-base {
    height: 0.2em;
    width: 100%;
}

.separator-container {
    //position: relative;
    display: flex;
    justify-content: space-between;
    &__first-color {
        @extend .separator-base;
        background-color: #f07929;
    }
    &__second-color {
        @extend .separator-base;
        background-color: #f0c429;
    }
    &__third-color {
        @extend .separator-base;
        background-color: #e4f029;
    }
    @include bp(phone) {
        display: none;
    }
}

.banner-container {
    height: 36.875em;
    width: 100%;
    overflow: hidden;
    @include bp(phone) {
        height: 7em !important;
    }
    &__banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.found-unity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    &__first-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @include bp(phone) {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2em;
        }
        &__main-title {
            color: $orange;
            font-size: 1.5em;
        }
        &__subtitle {
            color: white;
            @include bp(phone) {
                color: #798286 !important;
            }
        }
    }
    @include bp(phone) {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        align-items: center;
    }
}



.found-unity-selectors-default {
    margin-right: 1em;
    width: 13em;
    background-color: #1e3643;
    border: none;
    color: #4f626d;
}

.found-unity-selectors-default, .found-unity-selectors-container__first-selector, .found-unity-selectors-container__second-selector{
    border-radius: 0px !important;
}

.found-unity-selectors-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    height: 3em;
    justify-content: center;
    @include bp(phone) {
        display: block;
        flex-wrap: wrap;
        margin-left: auto;
        height: 3em;
        width: 100%;
        justify-content: center;
        align-self: flex-start;
        margin: 0;
    }
    &__first-selector {
        padding-left: 10px;
        @extend .found-unity-selectors-default;
        @include bp(phone) {
            width: 100% !important;
            height: 3em !important;
            margin-bottom: 1em !important;
            background-color: white !important;
            border: 1px solid $orange !important;
            color: #4f626d !important;
            margin-right: 0 !important;
            border-radius: 0px !important;
        }
    }
    &__second-selector {
        @extend .found-unity-selectors-default;
        width: 15em;
        @include bp(phone) {
            width: 100% !important;
            height: 3em !important;
            margin-bottom: 1em !important;
            background-color: white !important;
            border: 1px solid $orange !important;
            color: #4f626d !important;
            margin-right: 0 !important;
            border-radius: 0px !important;
        }
    }
    &__my-btn {
        width: 12em;
        background-color: $orange;
        border-radius: inherit;
        border: 1px solid #ac381d;
        padding: 10px 12px;
        @include bp(phone) {
            width: 100% !important;
            background-color: $orange !important;
            border-radius: inherit !important;
            border-color: transparent !important;
            height: 3em;
            font-size: 1.5em;
            margin-top: 17px;
        }
    }
    &__my-btn:hover {
        -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
        background-color: #cd4323 !important;
        border-radius: inherit !important;
        border-color: transparent !important;
    }
    &__my-btn:focus {
        @extend .found-unity-selectors-container__my-btn;
    }
    &__my-btn:active {
        @extend .found-unity-selectors-container__my-btn;
    }


}

.found-unity-selectors-container__my-btn a {
    color: white;
    text-decoration: none;
}

.ou {
    color: white;
    margin-right: 1em;
}