//============== numbers ===========

.numbers-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include bp(phone) {
        display: none !important;
    }
    &__info{
        text-align: center;
	    color: #254658;
	    display: flex;
	    flex-direction: column;
        align-items: center;
	    &__number{
    	    display: flex;
            align-items: baseline;
            font-weight: bold;
            font-size: 8em;
	    }
	    &__number-subtitle{
	    	font-size: 1.8em;
    		font-weight: 200;
	    }
    }
}

.mil{
    font-size: 0.2em;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

//============ Pilates Ask ========

.ask-pilates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    &__title{
    	color: $orange;
    	font-size: 2em;
    	font-weight: 200;
        margin-bottom: 0.3em;
    }
    &__subtitle{
	    font-size: 1.2em;
	    text-align: center;
    }
    @include bp(phone) {
        margin-top: 1em;
    }
}