.one-unity-container {
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-top: 3em;
    position: relative;
    padding-bottom: 20px;
    //padding: 3em;
    &__container-title{
		z-index: 2;
		padding-top: 20px;
	    position: relative;
	    &__main-title {
		    color: #435a69;
		    font-size: 3em;
		}
		&__subtitle-orange a {
			color: $orange;
		}
		&__subtitle {
		    font-size: 1.4em;
		    color: #9a9a9a;
		}
	}
	&__content{
	    align-items: flex-start;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    position: relative;
	    margin-top: 3em;
	    z-index: 2;
	    &__carousel-container{
		    //width: 32em;
		}

	}
}


.owl-nav{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.one-unity-info{
	margin-top: 3em;
	
    position: relative;
    z-index: 9;

	&__add-conteiner{
	    padding-bottom: 0.6em;
	    text-align: initial;
	    border-bottom: 1px solid lightgray;
	    margin-top: 1em;
	}
}

.icon-map-marker-custon, .icon-phone-custon, .icon-whatsapp-custon, .icon-clock-custon{
	font-size: 1.5em;
    margin-right: 1em;
    color: #1b2a32;
}



.one-unity-info__add-conteiner__add{
    color: #afafaf;
    font-size: 1.06em;
}

.work-margin{
	margin-left: 3em;
}

.unity-back-logo{
    position: absolute;
    width: 36em;
    right: 13em;
    z-index: 1;
}

label {
    font-weight: 600;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0 2px 1px #eee;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.clinica-equipe__title {
	color: $orange;
}

@media only screen and (max-width: 768px) {
	.one-unity-container__container-title__main-title{
		font-size: 2em;
	}
	.one-unity-container__container-title__subtitle{
		font-size: 1em;
	}
}