//======= orange part ============
.orange-container {
    background-color: $orange;
    height: 27em;
    margin-top: 2em;
    @include bp(phone) {
        height: auto;
        padding: 2em 0;
    }
    &__icon-container{
	    width: 10em;
	    position: relative;
	    align-items: center;
	    display: flex;
	    height: 6em;
        margin-right: 0.5em;
	    &__circle{
	    	position: absolute;
		    border-radius: 100px;
		    background-color: lightgrey;
		    width: 100px;
		    height: 100px;
		    z-index: 1;
            @include bp(phone) {
                width: 80px;
                height: 80px;
            }
            @include bp(tablet) {
                width: 80px;
                height: 80px;
            }
	    }
    }
    &__text{
    	color: white;
	    font-size: 0.94em;
        margin-right: 1em;
        @include bp(phone) {
            font-size: 1.3em !important;
        }
    	&__subtitle{
            @include bp(phone) {
                display: none;
            }
    		font-weight: 200;
    		margin-top: 0.2em;
    	}
    }

}

.container-icons {
    margin-top: 3em;
    @include bp(phone) {
        margin-top: 0;
    }
}

span.icon-head {
    color: #254658;
    z-index: 2;
    font-size: 4em;
    margin: 0 auto;
    @include bp(phone) {
        margin: 0;
    }
}

.icon-plus{
	@extend .icon-head;
}

.icon-heart{
	@extend .icon-head;
}

.separator-ask:before {
    @include bp(phone) {
        display: none !important;
    }
    
}

.separator-margin {
    margin-right: 1em;
    border-right: 1px solid;
    border-color: #c73b1b;
    @include bp(phone) {
        margin-bottom: 1em;
        margin-right: 0;
        border-right: 0px solid;
        border-color: #c73b1b;
    }
}

.green-btn{
	@extend .about-container__text__btn-custon;
	background-color: #37cd7f;
    border: 1px solid #37cd7f;
    &:hover{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: #268755;
        border: 1px solid #268755;
    }
    &:focus{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: #268755;
        border: 1px solid #268755;
    }
    &:active{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: #268755;
        border: 1px solid #268755;
    }
	
}

.orange-detail {
    margin-bottom: 24em;
    width: 100%;
    height: 1em;
    background-color: #d3310c;
    @include bp(phone) {
        margin-bottom: 0;
    }
}