//***************** responsivividade *****************

@media only screen and (max-width: 450px) {

    .full-width-mobile{
        width: 100% !important;
    }
}

@mixin bp($point) {
    @if $point == biggie {
        @media (max-width : 1600px) { @content; }
    }
    @if $point == tablet {
        @media (max-width : 1024px) { @content; }
    }
    @else if $point == phone {
        @media (max-width : 768px) { @content; }
    }
    @else if $point == small {
        @media (max-width:768px) and (min-width:400px) { @content; }
    }
}


// ***************** Classes que só existem no mobile *****************

.flex-column{
    @include bp(phone) {
        flex-direction: column;
    }
    
}

.take-padding-on-moblile{
    @include bp(phone) {
        padding: 0 !important;
    }
    
}
.take-margin-on-moblile{
    @include bp(phone) {
        margin: 0 !important;
    }
    
}

.will-hide{
    @include bp(phone) {
        display: none;
    }
    
}

//lista de unidades

.loading-custon{
    @include bp(phone) {
        margin-bottom: 30px;
    }
    
}

.center-text-mobile{
    @include bp(phone) {
        text-align: center;
    }
    
}

.flex-justfy-center{
    @include bp(phone) {
        justify-content: center;
    }
}
        

.flex-colum{
    @include bp(phone) {
        flex-direction: column;
    }
}

.full-width {
    @include bp(phone) {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
   
}