//====================segunda nav bar=================

.navbar-default{
    border: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    @include bp(phone) {
        color: white;
        background-color: #2e5b73;
    }
    
}

.navbar-nav {
   @include bp(phone) {
        margin: 0;

   }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    @include bp(phone) {
        margin-top: 45px;
        border: none;
    }
    
}

.navbar-default{
    @include bp(phone) {
        margin: 0 !important;
        padding: 0 !important;
    }
    
}
.navbar-default .navbar-nav>li>a {
    @include bp(phone) {
        color: white;
    }
    
}
.nav-itens-margin {
    @include bp(phone) {
        width: 100%;
        margin-left: 0 !important;
        //border: 1px solid #193543;
    }
    
}
.navbar-default .navbar-toggle {
    @include bp(phone) {
        border-color: #f04e29;
        background-color: #f04e29;
        color: white;
        position: relative;
        width: 100%;
        font-size: 15px;
        
    }
    
}

.nav-item-submenu:focus,
.nav-item-submenu:hover {
    @include bp(phone) {
        background-color: #2e5b73;
    }
    
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    @include bp(phone) {
        color: white;
        background-color: transparent;
    }
    
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    @include bp(phone) {
        color: white;
    }
    
}
.nav-submenu-responsive {
    @include bp(phone) {
        background-color: #142a36 !important;
        text-align: center;
        font-size: 0.9em;
    }
    
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    @include bp(phone) {
        background-color: transparent;
    }
    
}

.social-contacts span a{
    color: #546d7a;
    text-decoration: none;
}

.nav-size{
    font-weight: bold;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.nav-logo-size {
    width: 8em;
    height: auto;
}

.aula-experimental {
    background-color: $orange;
    
}

.aula-experimental a {
    color: white !important;
    padding: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.nav-itens-margin {
    margin-left: 0.3em;
}

.nav-itens-margin-dropdown {
    margin-left: 0;
    text-align: center;
    padding: 0.4em;
}

.nav-itens-margin-dropdown:hover,
.nav-itens-margin-dropdown:active {
    background-color: $orange;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    padding: 0;
}

.responsive-nav {
    left: 0;
    border-radius: 0;
    right: 0;
    height: 3em;
    margin: 0;
    width: 100%;
    padding: 0;
    position: absolute;
}

.navbar-default .navbar-toggle {
    border-color: $orange;
    background-color: $orange;
    color: white;
    display: flex;
    align-items: flex-start;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: $orange;
    color: white;
}

.responsive-ul {
    margin-top: 2.5%;
    @include bp(phone) {
        width: 100%;
        text-align: center;
        background-color: #1b3848;
        font-size: 15px;
        margin-top: 0 !important;
    }
}

.nav-submenu-responsive {
    background-color: #142a36 !important;
    font-size: 0.9em;
}

.dropdown-menu>li>a {
    color: white !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: transparent !important;
}

.single-icon {
    width: 2.5em;
    padding-left: 1em;
}

.align-last-item {
    display: flex !important;
    align-items: center;
    height: 2.4em;
    justify-content: center;
    @include bp(tablet) {
        display: none !important;
    }
    @include bp(phone) {
        display: flex !important;
    }
}

.align-last-item:hover,
.align-last-item:active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #cd4323;
}

.icon-menu2{
    font-weight: bold;
    font-size: 20px;
}