.talk-container{
    background-color: white;
    text-align: center;
    margin-top: 3em;
    padding: 2em;
}

.talk-title {
    font-size: 25px;
    color: $default-title-color;
    margin-bottom: 0.5em;
}

.talk-text {
    color: $defalt-subtitle-color;
    font-size: $subtitle-font;
    margin-bottom: 5px;
}

.click-here a {
    color: #f04e29;
    &:hover{
    	color: $orange-hover;
    	text-decoration: underline !important;
    }
}

.talk-section-title {
    font-size: $title-font;
    color: $default-title-color;
    margin-bottom: $subtitle-font;
}

.input-title {
	color: $default-title-color;
}

.talk-input-group{
	margin-bottom: 17px;
}

.select-option:before {
    content: attr(data-content);
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
    bottom: 100%;
    left: 14.4%;
}

.select-option.start:before{
	//-webkit-transition: all 0.5s ease;
	left: 14.4%;
	-webkit-transition: all 0.5s ease;
}

.select-option.middle:before{
	//-webkit-transition: all 0.5s ease;
	left: 50%;
	-webkit-transition: all 0.5s ease;
}

.select-option.end:before{
	//-webkit-transition: all 0.5s ease;
	left: 83%;
	-webkit-transition: all 0.5s ease;
}

.select-option:after {
    content: attr(data-content);
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f0f0f0;
    bottom: 100%;
    left: 14.4%;
}

.select-option.start:after{
	//-webkit-transition: all 0.5s ease;
	left: 14.4%;
	-webkit-transition: all 0.5s ease;
}

.select-option.middle:after{
	//-webkit-transition: all 0.5s ease;
	left: 50%;
	-webkit-transition: all 0.5s ease;
}

.select-option.end:after{
	//-webkit-transition: all 0.5s ease;
	left: 83%;
	-webkit-transition: all 0.5s ease;
}

.talk-info-container{
	display: flex;
    align-items: center;
    margin-top: 24px;
    margin-right: 50px;
    &__icon{
    	font-size: 36px;
    	color: $blue;
    	margin-right: 10px;
    }
    &__text{
    	&__name-service{
		    font-size: 20px;
    		color: $blue;
    	}
    	&__number{

    		color: $orange;
    		font-weight: 500;
    	}
    	&__number a{
    		cursor: pointer;
    		color: $orange;
    		font-weight: 500;
    	}
    	&__number a:hover{
    		cursor: pointer;
    		text-decoration: underline !important;
    	}
    }
}

.banner-container-talk__container{
	@extend .banner-container-unity__container;
	width: 72%;
    @include bp(phone) {
        top: 10%;
        
    }
}

.banner-container-talk__container__title{
	@extend .banner-container-unity__container__title;
	font-size: 2.5em;
    
}




#first-form{
	margin-top: 2em;
}

#second-form{
	margin-top: 2em;
}

#third-form{
	margin-top: 2em;
}

.loading-custon{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inverse-column-mobile {
    @include bp(phone) {
        display: flex;
        flex-direction: column-reverse;
    }
    
}

