//================ unity banner ===================
.banner-container-unity{
    @extend .banner-container;
    height: 21em;
    position: relative;
    @include bp(phone) {
        height: 7em;
    }
    &__overlay-banner-unity{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(37,70,88,0.7);
    }
    &__container{
            position: absolute;
            display: flex;
            z-index: 2;
            align-items: center;
            left: 50%;
            top: 25%;
            text-align: center;
            transform: translateX(-50%);
            flex-direction: column;
            @include bp(phone) {
                top: 10%;
            }
        &__title{
            color: white;
            font-size: 3em;
            
        }
        &__subtitle{
            color: white;
            font-size: 1.2em;
        }
    }
}

.blue-detail{
    width: 100%;
    height: 1em;
    background-color: #28373e;
}
