// default colors

$base-color-header: #546d7a;
$blue: #254658;
$blue-hover: #13242d;
$orange: #f04e29;
$orange-hover: #cd4323;
$green: #37cd7f;
$green-hover: #2ca466;
$default-title-color: #254658;
$defalt-subtitle-color: #9a9a9a;
$subtitle-font: 14px;
$title-font: 25px;

//default font
$default-font: 1.4em;

// override default elements in browser
// body,
// html {
//     padding: 0;
//     margin: 0;
//     background: #f0f0f0 !important;
//     font-family: 'Roboto', sans-serif !important;
//     font-size: 100%;
// }

a{
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// p{
//     margin: 0 !important;
// }

body{
    background-color: #f0f0f0 !important;
}

hr{
    position: relative;
}

button a {
    color: white;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: none;
    }
    &:active{
        color: white;
        text-decoration: none;
    }
    &:focus{
        color: white;
        text-decoration: none;
    }
}

.centralize {
    margin: 0 auto;
}

.background-white{
    background-color: white;
}

.custon-hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.justfy-center{
    justify-content: flex-start;
}

.color-test{
    background-color: red;
}

.no-margin-left{
    margin-left: 0 !important;
}

.no-margin-right{
    margin-right: 0 !important;
}

.flex-baseline{
    align-items: baseline !important;
}

.no-padding-right{
    padding-right: 0;
}

.no-padding-left{
    padding-left: 0;
}

.no-mtop{
    margin-top: 0 !important;
}

.no-border{
    border: none !important;
}

.no-margin{
    margin: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.no-side-margin{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #f04e29 !important;
    margin: 0 !important;
    padding: 0px 19px !important;
    background: white !important;
    cursor: pointer !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    font-size: 3em !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c1c1c1;
}

.will-hide{
    display: block;
}

.will-appear{
    display: block;
    opacity: 0;
}

.custon-fade{
    opacity: 1;
    -webkit-transition: all 0.5s ease;
}

.will-disappear{
    display: none;
}

.will-show{
    display: none;
}

//useful classes 

.caret {
    color: $orange;
}


.full-height{
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-colunm{

}



// ************ override bootstrap classes ********************

.alert-success {
    color: #4c796b !important;
    background-color: #bbe2d6 !important;
    border-color: #5ab196 !important;
}

.alert {
    padding: 15px !important;
    margin-bottom: 20px !important;
    border-radius: inherit !important;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #3cb878 !important;
}

.tooltip.top .tooltip-arrow{
    border-top-color: #3cb878 !important;
}


.tooltip-inner {
    
    background-color: #3cb878 !important;
   
}