// ********** Home style ************

@import '_variables.scss';
@import '_responsiveness.scss';
@import '_first-header.scss';
@import '_second-header.scss';
@import '_main-banner.scss';
@import '_carousel-dots.scss';
@import '_carousel-cell-content.scss';
@import '_about.scss'; 
@import '_depoiments.scss'; 
@import '_numbers.scss';
@import '_orange-part.scss'; 
@import '_carousel-mother-fucker.scss';
@import '_footer.scss'; 

// ********** Unity style ************

@import '_unity-banner.scss';
@import '_one-unity-container.scss';

// ********** talk with us ***********

@import '_talk-with-us.scss';

// *********** franqueado **************

@import '_franqueado.scss';

// *****    customize select (useful in future) ****
// select:not([multiple]) {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     background-position: right 50%;
//     background-repeat: no-repeat;
//     background-image: url(../imgs/arrow.svg);
//     padding: .5em;
//     padding-right: 1.5em;
//     border-radius: 0px;
//     border: 1px solid #0d171c;
// }















