.row {
	text-align: center;
}

.carousel {
	left: 50%;
	position: absolute;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	height: 500px;
	top: 150px;
}

.carousel .item {
	
	//background: url('http://placehold.it/350x250') top left no-repeat;
	background-size: 100%;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.controls {
	width: 649px;
    margin-left: -19.7em;
    position: absolute;
    top: 333px;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
}

.controls a {
	display: block;
}

.controls .previous {
	background-color: white;
    float: left;
    font-size: 3em;
    text-align: center;
    width: 1em;
    text-decoration: none;
    color: #f04e29;
}

.controls .next {
	background-color: white;
    float: left;
    font-size: 3em;
    text-align: center;
    width: 1em;
    text-decoration: none;
    color: #f04e29;
}